integracioReportsCanvisEstat/WSDL/3.0/integracioReports.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:conv="http://www.openuri.org/2002/04/soap/conversation/"
	xmlns:cw="http://www.openuri.org/2002/04/wsdl/conversation/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:jms="http://www.openuri.org/2002/04/wsdl/jms/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:s0="http://www.openuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://www.openuri.org/">
	<wsdl:types>
		<s:schema xmlns:s="http://www.w3.org/2001/XMLSchema"
			xmlns:v3="http://www.aocat.net/NT/v3.0" elementFormDefault="qualified"
			targetNamespace="http://www.openuri.org/">
			<s:import namespace="http://www.aocat.net/NT/v3.0" />
			<s:element name="clientRequestwithReturn">
				<s:complexType>
					<s:sequence>
						<s:element ref="v3:Report" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="clientRequestwithReturnResponse">
				<s:complexType>
					<s:sequence>
						<s:element ref="v3:RespostaReport" />
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns="http://www.aocat.net/NT/v3.0" targetNamespace="http://www.aocat.net/NT/v3.0"
			elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:element name="Report" type="ReportType" />
			<xs:complexType name="ReportType">
				<xs:sequence>
					<xs:element name="Capcalera" type="ReportCapcaleraType" />
					<xs:element name="Dades" type="ReportDadesType"
						maxOccurs="unbounded" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ReportCapcaleraType">
				<xs:annotation>
					<xs:documentation xml:lang="ca">Esquema que representa
						la capçalera de
						l'informe
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="CodiOrganisme" type="xs:string" />
					<xs:element name="CodiDepartament" type="xs:string" />
					<xs:element name="NomOrganisme" type="xs:string" />
					<xs:element name="NomDepartament" type="xs:string" />
					<xs:element name="DataInforme" type="xs:date" />
					<xs:element name="TipusInforme" type="TipusInformeType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ReportDadesType">
				<xs:annotation>
					<xs:documentation xml:lang="ca">Esquema que representa
						un registre de
						l'informe
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="DadesEstat">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Estat" type="xs:integer" />
								<xs:element name="DescripcioEstat" type="xs:string" />
								<xs:element name="DataActualitzacio" type="xs:date" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="DadesNotificacio">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Referencia" type="xs:string" />
								<xs:element name="IdNotificacio" type="xs:integer" />
								<xs:element name="TipusObjecte" type="TipusObjecteType" />
								<xs:element name="AmbitObjecte" type="xs:string"
									minOccurs="0" />
								<xs:element name="DiesExpiracio" type="xs:integer" />
								<xs:element name="IdNotificacioEmissor" type="xs:string"
									minOccurs="0" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="DadesRegistre">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="DataRegistre" type="xs:dateTime"
									nillable="true" />
								<xs:element name="NumeroRegistreSortida" type="xs:string"
									nillable="true" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="DadesActor">
						<xs:complexType>
							<xs:choice>
								<xs:element name="PersonaFisica">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="NIF" type="NIF" />
											<xs:element name="NomComplet" type="xs:string" />
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="PersonaJuridica">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="CIF" type="CIF" />
											<xs:element name="RaoSocial" type="xs:string" />
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:complexType>
					</xs:element>
					<xs:element name="CodiBackOffice" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="TipusInformeType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Diari" />
					<xs:enumeration value="OnLine" />
				</xs:restriction>
			</xs:simpleType>
			<xs:element name="RespostaReport" type="RespostaReportType" />
			<xs:complexType name="RespostaReportType">
				<xs:annotation>
					<xs:documentation>Resposta indicant que el report s'ha rebut
						correctament.
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="RespostaType">
						<xs:sequence>
							<xs:element name="Error" type="xs:string" minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:simpleType name="TipusAccesType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="CERT"/>
					<xs:enumeration value="PPAS"/>
					<xs:enumeration value="BAIX"/>
					<xs:enumeration value="SUBSTANCIAL"/>
					<xs:enumeration value="ALT"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TipusObjecteType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="NOTIFICACIO" />
					<xs:enumeration value="COMUNICACIO" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="Idioma">
				<xs:restriction base="xs:string">
					<xs:enumeration value="ca" />
					<xs:enumeration value="es" />
					<xs:enumeration value="oc" />
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="EtiquetesType">
				<xs:sequence>
					<xs:element name="Etiqueta" type="EtiquetaType"
						maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="EtiquetaType">
				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="Idioma" type="Idioma" />
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:complexType name="DiesAvisosType">
				<xs:sequence>
					<xs:element name="DiaAvis" type="xs:positiveInteger"
						maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PersonaType" abstract="true">
				<xs:sequence>
					<xs:element name="BustiesCorreu">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="BustiaCorreu" type="xs:string"
									maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Telefons" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Telefon" type="xs:string"
									maxOccurs="unbounded" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="PersonesAvis" type="PersonesAvis"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PersonaFisicaType">
				<xs:complexContent>
					<xs:extension base="PersonaType">
						<xs:sequence>
							<xs:element name="NIF" type="NIF" />
							<xs:element name="Nom" type="xs:string" />
							<xs:element name="PrimerCognom" type="xs:string" />
							<xs:element name="SegonCognom" type="xs:string"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="PersonaJuridicaType">
				<xs:complexContent>
					<xs:extension base="PersonaType">
						<xs:sequence>
							<xs:element name="CIF" type="CIF" />
							<xs:element name="RaoSocial" type="xs:string" />
							<xs:element name="PersonaVinculada" type="PersonaVinculadaType"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="PersonaVinculadaType">
				<xs:sequence>
					<xs:element name="NIF" type="NIF" />
					<xs:element name="Nom" type="xs:string" />
					<xs:element name="PrimerCognom" type="xs:string" />
					<xs:element name="SegonCognom" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PersonesAvis">
				<xs:sequence>
					<xs:element name="PersonaAvis" type="PersonaAvisType"
						maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PersonaAvisType">
				<xs:sequence>
					<xs:element name="NomComplet" type="xs:string" />
					<xs:element name="BustiaCorreu" type="xs:string" />
					<xs:element name="Telefon" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="FiltrePersonaType">
				<xs:sequence>
					<xs:element name="BustiaCorreu" type="xs:string"
						minOccurs="0" />
					<xs:element name="Telefon" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="FiltrePersonaFisicaType">
				<xs:complexContent>
					<xs:extension base="FiltrePersonaType">
						<xs:sequence>
							<xs:element name="NIF" type="NIF" minOccurs="0" />
							<xs:element name="Nom" type="xs:string" minOccurs="0" />
							<xs:element name="PrimerCognom" type="xs:string"
								minOccurs="0" />
							<xs:element name="SegonCognom" type="xs:string"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="FiltrePersonaJuridicaType">
				<xs:complexContent>
					<xs:extension base="FiltrePersonaType">
						<xs:sequence>
							<xs:element name="CIF" type="CIF" minOccurs="0" />
							<xs:element name="RaoSocial" type="xs:string"
								minOccurs="0" />
							<xs:element name="PersonaVinculada" type="FiltrePersonaVinculadaType"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="FiltrePersonaVinculadaType">
				<xs:sequence>
					<xs:element name="NIF" type="NIF" minOccurs="0" />
					<xs:element name="Nom" type="xs:string" minOccurs="0" />
					<xs:element name="PrimerCognom" type="xs:string"
						minOccurs="0" />
					<xs:element name="SegonCognom" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="DocumentsType">
				<xs:sequence>
					<xs:element name="Document" maxOccurs="5">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Nom" type="xs:string" />
								<xs:element name="SHA1Digest" type="xs:base64Binary" />
								<xs:choice>
									<xs:element name="Dades" type="xs:base64Binary" />
									<xs:element name="URLDescarrega" type="xs:anyURI" />
									<xs:element name="Ruta" type="xs:string" />
								</xs:choice>
								<xs:element name="Tipus">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="Resolució" />
											<xs:enumeration value="Annex" />
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="NIF">
				<xs:restriction base="xs:string">
					<xs:pattern value="[XYZ]?[0-9]{8}[A-Z]" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="CIF">
				<xs:restriction base="xs:string">
					<xs:pattern value="[A-Z][0-9]{7}[A-J,0-9]" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TipusEvidenciaType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="XML" />
					<xs:enumeration value="PDF" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="OperacioPracticarType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="OBTENIR_DADES" />
					<xs:enumeration value="SIGNAR" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="DecisioPracticarType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="ACCEPTAR" />
					<xs:enumeration value="REBUTJAR" />
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="RespostaType" abstract="true" />
			<xs:complexType name="ErrorsType">
				<xs:sequence>
					<xs:element name="Error" maxOccurs="unbounded">
						<xs:complexType>
							<xs:all>
								<xs:element name="CodiError" type="xs:integer" />
								<xs:element name="MissatgeError" type="xs:string" />
								<xs:element name="DadesNotificacio" type="DadesNotificacioErrorType"
									minOccurs="0" />
								<xs:element name="FaseError" type="xs:string"
									minOccurs="0" />
								<xs:element name="TipusError" type="xs:string"
									minOccurs="0" />
							</xs:all>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="DadesNotificacioErrorType">
				<xs:sequence>
					<xs:element name="IdNotificacio" type="xs:integer" />
					<xs:element name="Organisme" type="xs:string" />
					<xs:element name="Departament" type="xs:string" />
					<xs:element name="BackOffice" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>

	</wsdl:types>
	<wsdl:message name="clientRequestwithReturnSoapIn">
		<wsdl:part name="parameters" element="s0:clientRequestwithReturn" />
	</wsdl:message>
	<wsdl:message name="clientRequestwithReturnSoapOut">
		<wsdl:part name="parameters" element="s0:clientRequestwithReturnResponse" />
	</wsdl:message>
	<wsdl:portType name="ReportReceiverv3Soap">
		<wsdl:operation name="clientRequestwithReturn">
			<wsdl:input message="s0:clientRequestwithReturnSoapIn" />
			<wsdl:output message="s0:clientRequestwithReturnSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ReportReceiverv3Soap" type="s0:ReportReceiverv3Soap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="clientRequestwithReturn">
			<soap:operation soapAction="http://www.openuri.org/clientRequestwithReturn"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ReportReceiverv3">
		<wsdl:port name="ReportReceiverv3Soap" binding="s0:ReportReceiverv3Soap">
			<soap:address
				location="http://localhost:7001/NTCallbackRecvWeb/processes/ReportReceiverv3.jpd" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
