missatgeria/3.2/xsds/Commons.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.aocat.net/NT/v3.2"
	targetNamespace="http://www.aocat.net/NT/v3.2"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">


	<!--
	Amb la compilació que fa el webLogic sembla que el nillable="false" no funciona
	per a evitar que ens afegeixin tags sense contingut, per això creo aquest type que extend
	d'xs:string i l'únic que força és que l'string tingui com a mínim algún caràcter
	-->
	<xs:simpleType name="NoEmptyString">
	 <xs:restriction base="xs:string">
	   <xs:minLength value="1"/>
	 </xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="TipusAccesType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CERT"/>
			<xs:enumeration value="PPAS"/>
			<xs:enumeration value="BAIX"/>
			<xs:enumeration value="SUBSTANCIAL"/>
			<xs:enumeration value="ALT"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ConsultadaType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TOTES"/>
			<xs:enumeration value="LLEGIDES"/>
			<xs:enumeration value="NOLLEGIDES"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TipusObjecteType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NOTIFICACIO"/>
			<xs:enumeration value="COMUNICACIO"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Idioma">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ca"/>
			<xs:enumeration value="es"/>
			<xs:enumeration value="oc"/>
			<xs:enumeration value="en"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="EtiquetesType">
		<xs:sequence>
			<xs:element name="Etiqueta" type="EtiquetaType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EtiquetaType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Idioma" type="Idioma"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="DiesAvisosType">
		<xs:sequence>
			<xs:element name="DiaAvis" type="xs:positiveInteger" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BustiesCorreuType">
		<xs:sequence>
			<xs:element name="BustiaCorreu" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TelefonsType">
		<xs:sequence>
			<xs:element name="Telefon" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PersonaType" abstract="true">
		<xs:sequence>
			<xs:element name="BustiesCorreu" type="BustiesCorreuType" minOccurs="0"/>
			<xs:element name="Telefons" type="TelefonsType" minOccurs="0"/>
			<xs:element name="PersonesAvis" type="PersonesAvis" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PersonaFisicaType">
		<xs:complexContent>
			<xs:extension base="PersonaType">
				<xs:sequence>
					<xs:element name="DocumentIdentificatiu" type="DocumentPersonaFisicaType"/>
					<xs:element name="Nom" type="NoEmptyString"/>
					<xs:element name="PrimerCognom" type="NoEmptyString"/>
					<xs:element name="SegonCognom" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PersonaJuridicaType">
		<xs:complexContent>
			<xs:extension base="PersonaType">
				<xs:sequence>
					<xs:element name="DocumentIdentificatiu" type="DocumentPersonaJuridicaType"/>
					<xs:element name="RaoSocial" type="NoEmptyString" />
					<xs:element name="PersonaVinculada" type="PersonaVinculadaType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PersonaVinculadaType">
			<xs:sequence>
				<xs:element name="DocumentIdentificatiu" type="DocumentPersonaFisicaType"/>
				<xs:element name="Nom" type="xs:string"/>
				<xs:element name="PrimerCognom" type="xs:string"/>
				<xs:element name="SegonCognom" type="xs:string" minOccurs="0"/>
			</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PersonesAvis">
		<xs:sequence>
			<xs:element name="PersonaAvis" type="PersonaAvisType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PersonaAvisType">
			<xs:sequence>
				<xs:element name="NomComplet" type="xs:string"/>
				<xs:element name="BustiaCorreu" type="xs:string"/>
				<xs:element name="Telefon" type="xs:string" minOccurs="0"/>
			</xs:sequence>
	</xs:complexType>

	<xs:complexType name="FiltrePersonaType">
		<xs:sequence>
			<xs:element name="BustiesCorreu" type="BustiesCorreuType" minOccurs="0"/>
			<xs:element name="Telefons" type="TelefonsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="FiltrePersonaFisicaType">
		<xs:complexContent>
			<xs:extension base="FiltrePersonaType">
				<xs:sequence>
					<xs:element name="DocumentIdentificatiu" type="DocumentPersonaFisicaType" minOccurs="0"/>
					<xs:element name="Nom" type="xs:string" minOccurs="0"/>
					<xs:element name="PrimerCognom" type="xs:string" minOccurs="0"/>
					<xs:element name="SegonCognom" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="FiltrePersonaJuridicaType">
		<xs:complexContent>
			<xs:extension base="FiltrePersonaType">
				<xs:sequence>
					<xs:element name="DocumentIdentificatiu" type="DocumentPersonaJuridicaType" minOccurs="0"/>
					<xs:element name="RaoSocial" type="xs:string" minOccurs="0"/>
					<xs:element name="PersonaVinculada" type="FiltrePersonaVinculadaType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="FiltrePersonaVinculadaType">
			<xs:sequence>
				<xs:element name="DocumentIdentificatiu" type="DocumentPersonaFisicaType" minOccurs="0"/>
				<xs:element name="Nom" type="xs:string" minOccurs="0"/>
				<xs:element name="PrimerCognom" type="xs:string" minOccurs="0"/>
				<xs:element name="SegonCognom" type="xs:string" minOccurs="0"/>
			</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DocumentsType">
		<xs:sequence>
			<xs:element name="Document" maxOccurs="5">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Nom" type="xs:string"/>
						<xs:element name="SHA1Digest" type="xs:base64Binary" minOccurs="0"/>
						<xs:choice>
							<xs:element name="Dades" type="xs:base64Binary"/>
							<xs:element name="URLDescarrega" type="xs:anyURI"/>
							<xs:element name="Ruta" type="xs:string"/>
							<xs:element name="URLSeu">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:anyURI">
											<xs:attribute name="Csv" type="xs:string" use="required"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<!-- ens cas de venir informat ha de lligar amb l' <id> del <Fichero> de les dades específiques de la PCI -->
							<xs:element name="IdFicheroPCI" type="xs:string"/>
						</xs:choice>
						<xs:element name="Tipus" type="TipusDocumentType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="TipusDocumentType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Resolució"/>
			<xs:enumeration value="Annex"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="NIF">
		<xs:restriction base="xs:string">
			<xs:pattern value="[XYZKLM]?[0-9]{7,8}[A-Z]"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="Passaport">
		<xs:simpleContent>
			<xs:extension base="PassaportType">
				<xs:attribute name="Pais" type="ISO3166Code2Digits"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="PassaportType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{1,9}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CIF">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z][0-9]{7}[A-J,0-9]"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="VAT">
		<xs:simpleContent>
			<xs:extension base="VATType">
				<xs:attribute name="Pais" type="ISO3166Code2Digits"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="VATType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{1,50}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ISO3166Code2Digits">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z][A-Z]"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TipusEvidenciaType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="XML"/>
			<xs:enumeration value="PDF"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="OperacioPracticarType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OBTENIR_DADES"/>
			<xs:enumeration value="SIGNAR"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DecisioPracticarType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACCEPTAR"/>
			<xs:enumeration value="REBUTJAR"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="DocumentPersonaFisicaType">
		<xs:choice>
			<xs:element name="NIF" type="NIF"/>
			<xs:element name="PASSAPORT" type="Passaport"/>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="DocumentPersonaJuridicaType">
		<xs:choice>
			<xs:element name="CIF" type="CIF"/>
			<xs:element name="VAT" type="VAT"/>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="DadesPracticarCanalPaperType">
		<xs:sequence>
			<xs:element name="NIF" type="NIF"/>
			<xs:element name="Data" type="xs:dateTime"/>
			<xs:element name="Referencia" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DadesCanviCanalType">
		<xs:sequence>
			<xs:element name="Canal" type="CanalType"/>
			<xs:element name="BustiaCorreu" type="xs:string" minOccurs="0"/>
			<xs:element name="Telefon" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="CanalType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DIGITAL"/>
			<xs:enumeration value="PAPER"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
