missatgeria/v3.2_xsds/Emissor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.aocat.net/NT/v3.2"
	targetNamespace="http://www.aocat.net/NT/v3.2"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xs:complexType name="EmissorType">
		<xs:annotation>
			<xs:documentation>Dades de l'ens amb el que es realitza la petició</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CodiOrganisme" type="xs:string"/>
			<xs:element name="CodiDepartament" type="xs:string"/>
			<xs:element name="CodiBO" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
