missatgeria/v3.2_xsds/PeticioConsulta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.aocat.net/NT/v3.2"
	targetNamespace="http://www.aocat.net/NT/v3.2"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xs:include schemaLocation="Peticio.xsd"/>

	<xs:element name="PeticioConsulta" type="PeticioConsultaType"/>
	<xs:complexType name="PeticioConsultaType">
		<xs:complexContent>
			<xs:extension base="PeticioType">
				<xs:sequence>
					<xs:element name="IdNotificacio" type="xs:integer"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
