missatgeria/v3.2_xsds/Peticio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.aocat.net/NT/v3.2"
	targetNamespace="http://www.aocat.net/NT/v3.2"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xs:include schemaLocation="Commons.xsd"/>
	<xs:include schemaLocation="Usuari.xsd"/>
	<xs:include schemaLocation="Emissor.xsd"/>

	<xs:complexType name="PeticioType" abstract="true">
		<xs:sequence>
			<xs:element name="Usuari" type="UsuariType"/>
			<xs:element name="Emissor" type="EmissorType"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>